In [4]:
#SET: unordered collection of unique objects
##by unique it means there are no duplicates, everyting has to be unique

#https://www.w3schools.com/python/python_ref_set.asp
##this would be sueful for: 
### - collecting usernames and emails for your app/page but you dont want duplicates of these. So converting a list full of duplicates to a set would remove the duplicatesf4


my_Set = {'apple', 1, 2, 3, 4, 5, 5}
print(my_Set)

{1, 2, 3, 4, 5, 'apple'}

In [5]:
my_list = [1,2,3,4,5,5,5,5,6,7,7,6]
new_set = set((my_list)) #Using the set() function can turn a list to a set and removes all duplicate values

In [6]:
print(new_set)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
new_set.add(1004)
new_set.add(4) # it wont actually be added as there is already a unique value of 4 in the set

In [8]:
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 1004}

In [9]:
my_set_2 = {1,2,3,4,5,5,6}
print(1 in my_set_2) # in order to access a set we have to grab by the item found in the set

True

In [10]:
print(len(my_set_2))

6

In [16]:
print(list(my_set_2)) # Using a list() function to change a set into a set

[1, 2, 3, 4, 5, 6]

In [18]:
neww_set = {1,2,3,4,5,5,5}
bn_set = neww_set.copy()
neww_set.clear()
print(list(bn_set))
print(neww_set)

[1, 2, 3, 4, 5]
set()